.onboard-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    height: 300px;
    font-size: 35px;
    background-color: black;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    opacity: 0.8;
}


.greeting {
    text-align: center;
    line-height: 25px;
}
  
.greeting-form input {
    
    width: 80%;
    margin: 0 auto;
    padding: 0;
    
    border: none;
    font-size: 35px;
    caret-color: #fff;
    outline: none;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;;
}
  
.user-name {
    font-weight: bold;
}

.greeting-form > *{
    margin: 20px 0;
}

.submitBtn{
    padding: .5rem;
    margin-top: .5rem;
    
}

.link{
    text-decoration: none;
    font-weight: bold;
}
