.time-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 130px;
    font-size: 35px;
    background-color: black;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    opacity: .7;
}

.time-span{
    letter-spacing: 3px;
}